{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ post.title }}</h1>
    <hr>
    <small> By:  {{ post.author.first_name }} - {{ post.author.last_name }} -
        
        {{ post.post_date }}  <br>


        
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

        <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a><br>
        <br>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
    </small>
    <br>
    <br>
    {% endif %}
    {% endif %}
    <br>

{% if post.image %}
    <img src="{{ post.image.url }}" class="rounded mx-auto d-block w-100">
{% endif %}

    {{ post.body|safe }}
    <br>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <br>
    <br>


    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
{% if liked %}
        <button type="submit"  name="post_id" value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
{% else %}
        <button type="submit"  name="post_id" value="{{ post.id }}", class="btn btn-primary btn-sm">Like </button> 

 {% endif %}     <br>
{% else %}
<small></small><a class="nav-link" href="{% url 'login' %}">Login</a></small>
 to Like
{% endif %} 
<br>
<br>

 {{ post.total_likes }} Likes

    </form>
   
</div>
<br>
<br>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">

        {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" width=200 height=200 >

        {% else %}
        <img src="{% static 'images/defaultprofileimage.jpg' %}" class="img-fluid rounded-start" width=200 height=200 >
        {% endif %}
      </div>



      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name }}
                                 {{ post.author.last_name }}</h5>
                                 <p class="small text-muted">
                                     <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a> |
                                     {% if post.author.profile.facebook_url %}
                                     <a href="{{ post.author.profile.facebook_url }}">Facebook</a> | 
                                     {% endif %}
                                     {% if post.author.profile.instagram_url %}
                                     <a href="{{ post.author.profile.instagram_url }}">Instagram</a> | 
                                     {% endif %}
                                     {% if post.author.profile.pinterest_url %}
                                     <a href="{{ post.author.profile.pinterest_url }}">Pinterest</a> | 
                                     {% endif %}
                                     {% if post.author.profile.website_url %}
                                     <a href="{{ post.author.profile.website_url }}">Website</a>
                                     {% endif %}
                                 </p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
          
        </div>
      </div>
    </div>
  </div>




 
{% endblock %}

